<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxp.pc_admin.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.xxp.pc_admin.domain.Menu">
        <!--@mbg.generated-->
        <!--@Table menu-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="auth_name" jdbcType="VARCHAR" property="authName"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, auth_name, pid, `order`, `path`
    </sql>
    <select id="selectByExample" parameterType="com.xxp.pc_admin.domain.MenuExample" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from menu
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.xxp.pc_admin.domain.MenuExample">
        <!--@mbg.generated-->
        delete from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xxp.pc_admin.domain.Menu"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into menu (auth_name, pid, `order`,
        `path`)
        values (#{authName,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{order,jdbcType=INTEGER},
        #{path,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xxp.pc_admin.domain.Menu"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authName != null">
                auth_name,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="order != null">
                `order`,
            </if>
            <if test="path != null">
                `path`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authName != null">
                #{authName,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="order != null">
                #{order,jdbcType=INTEGER},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.xxp.pc_admin.domain.MenuExample" resultType="java.lang.Long">
        <!--@mbg.generated-->
        select count(*) from menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--@mbg.generated-->
        update menu
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.authName != null">
                auth_name = #{record.authName,jdbcType=VARCHAR},
            </if>
            <if test="record.pid != null">
                pid = #{record.pid,jdbcType=INTEGER},
            </if>
            <if test="record.order != null">
                `order` = #{record.order,jdbcType=INTEGER},
            </if>
            <if test="record.path != null">
                `path` = #{record.path,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--@mbg.generated-->
        update menu
        set id = #{record.id,jdbcType=INTEGER},
        auth_name = #{record.authName,jdbcType=VARCHAR},
        pid = #{record.pid,jdbcType=INTEGER},
        `order` = #{record.order,jdbcType=INTEGER},
        `path` = #{record.path,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xxp.pc_admin.domain.Menu">
        <!--@mbg.generated-->
        update menu
        <set>
            <if test="authName != null">
                auth_name = #{authName,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="order != null">
                `order` = #{order,jdbcType=INTEGER},
            </if>
            <if test="path != null">
                `path` = #{path,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xxp.pc_admin.domain.Menu">
        <!--@mbg.generated-->
        update menu
        set auth_name = #{authName,jdbcType=VARCHAR},
        pid = #{pid,jdbcType=INTEGER},
        `order` = #{order,jdbcType=INTEGER},
        `path` = #{path,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <resultMap id="children" type="com.xxp.pc_admin.domain.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.xxp.pc_admin.domain.Menu" select="findByPid"
                    column="id"></collection>
    </resultMap>
    <!--auto generated by MybatisCodeHelper on 2020-10-12-->
    <select id="findByPid" resultMap="children">
        select
        <include refid="Base_Column_List"/>
        from menu
        where pid=#{pid,jdbcType=INTEGER}
    </select>
</mapper>
